@zero: 0;
.pack-page {
  width: 100%;
  height: 800px;
}

.motion-common() {
  animation-duration: .5s;
  animation-fill-mode: both;
}

.fade-enter, .fade-leave, .fade-appear {
  animation-duration: 2s;
}

.fade-enter {
  opacity: 0;
  .motion-common();
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}

.fade-appear {
  opacity: 0;
  .motion-common();
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}

.fade-leave {
  .motion-common();
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}

.fade-enter.fade-enter-active {
  animation-name: fadeIn;
  animation-play-state: running;
}

.fade-appear.fade-appear-active {
  animation-name: fadeIn;
  animation-play-state: running;
}

.fade-leave.fade-leave-active {
  animation-name: fadeOut;
  animation-play-state: running;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// link css
.nav {
  position: fixed;
  background: rgba(0, 0, 0, .85);
  color: #fff;
  width: 100%;
  height: 80px;
  z-index: 9999;
  top: 0;
  & .nav-list {
    width: 100px;
    height: 100%;
    float: left;
    line-height: 80px;
    text-align: center;
    cursor: pointer;
    transition: background .45s;
    &:hover, &.active {
      background: #333;
    }
  }
  & .nav-bar {
    width: 100px;
    position: absolute;
    top: 78px;
    left: 0;
    height: 2px;
    background: #ff73fd;
    transition: left .3s;
  }
}